body{
    margin: 0px;
    text-align: center;
    
}
h1{
    margin-top: 0px; 
    font-family: 'Sacramento', cursive,monospace;
}
p{
    margin: 0px;
    font-family: 'Merriweather', serif,monospace;
    font-size: x-large;
}
.header{
    width: 50px;
    height: 50px;
    position: relative;
}
.pic{
    height: 75px;
    width: 75px;
    position: relative;
    bottom:679px;
    left:50px;
}
.top-container{
    height: 500px;
    width: 100%;
    color:#4ab19a;
   
}
.designer{
    height: 100px;
    width: 100%;
  position: relative;
    bottom: 500px;
    left: 200px;
    font-style: italic;
}
.backgroundimg{
    height: 600px;
    width: 99%;
}
.menu{
    margin: 0px;
    width: 100%;
    height: 75px;
    position: sticky;
    bottom: 560px;
    background-color: rgb(61, 59, 59);
    left:7px;
    opacity: 40%;

}
.about{
    position: absolute;
    right:350px;
    bottom: 25px;
}
a{
    color:#00ffc8 ;
    text-decoration: none;
    font-size: x-large;
}
.middle-container{
    height: 1800px;
    width: 100%;
    position: relative;
    left: 7px;
}
.blackpic{
    height: 600px;
    width: 100%;
    top: 100px;
    position: relative;
    right: 7px;
    top: 1px;
}
.hello{
    position: relative;
    left:5px;
    bottom:440px;
    color:#4ab19a  ;
    text-align: center;
}
.intro{
    height: 100px;
    width: 50%;
    left: 350px;
    position: relative;
    bottom:400px;
    color:#4ab19a ;
    text-align: center;
    font-family: 'Merriweather', serif,monospace;
}
.pic1{
height: 150px;
width: 150px;
bottom: 500px;
position: relative;
}
.persontyping{
    height: 200px;
    width: 250px;
    position: absolute;
    left: 180px;
    top:800px;
}
.desin{

    position: relative;
    bottom:10px;
    right: 6px;
    color:#4ab19a ;
    font-size: x-large;
}
.skill{
    text-align: center;
    position: relative;
    bottom: 180px;
    left: 5px;
    color:#4ab19a ;
    font-size: xx-large;

}
.skill-row1{
    height: 300px;
    width: 400px;
    text-align: center;
    position: relative;
    left: 600px;
    bottom: 180px;
    color:black ;

}
.persontyping1{
    height: 200px;
    width: 250px;
    position: absolute;
    right: 200px;
    top:1120px;
}
.develop{
    position: relative;
    bottom:10px;
    right: 6px;
    color:#4ab19a ;
    font-size: x-large;
}
.skill-row2{
    height: 300px;
    width: 400px;
    text-align: center;
    position: relative;
    left: 250px;
    bottom: 140px;
    color:black ;

}
.contact-me{
    height: 300px;
    width: 400px;
    text-align: center;
    position: relative;
    left: 450px;
    bottom: 140px;
}
.help{
    height: 50px;
    width: 500px;
    font-size: 50px;
    font-weight: 600;
    color:#4ab19a ;
    right: 20px;
    position: relative;
}
.freelance{
    font-size: 25px;
    height: 20px;
    width: 500px;
    position: relative;
    left: 10px;
}
.con{
    position: relative;
    top: 50px;
    right: 190px;
    height: 40px;
    width: 900px;
}
.btn{
    height: 40px;
    width:250px;
    position: relative;
    top: 100px;
    left:110px;
    background-color: #4ab19a;
    border:  rgb(85, 15, 197);
    border-radius: 10px;
}
.bottom-container{
    text-align: center;
    height: 100px;
    width: 100%;
    background-color: cornflowerblue;
    position: relative;
    margin: 0px;
}
.col{
    color: black;
}
.foot{
    font-size: 10px;
    position: relative;

    top: 30px;
}
.facebook{
    height: 20px;
    width: auto;
}
.footer-link1{
    position: relative;
    top: 20px;
    right: 15px;  
}
.footer-link2{
    position: relative;
    top: 20px; 
    left: 15px; 
}
.instagram{
    height: 20px;
    width: auto;
}
